<!DOCTYPE html>
<html ng-app="worldcup" lang="en" itemscope itemtype="http://schema.org/Article">
	<head prefix="og: http://ogp.me/ns#">
		<title>import.io at the World Cup 2014</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Ek+Mukta:200,600" rel="stylesheet">
		<link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<link href="worldcup.css" rel="stylesheet">

		<meta name="description" content="Explore the World Cup through data with import.io. Powered by realtime APIs, we get you the latest World Cup stats with our data sources.">

		<!-- G+ -->
		<meta itemprop="name" content="import.io at the World Cup 2014">
		<meta itemprop="description" content="Explore the World Cup through data with import.io. Powered by realtime APIs, we get you the latest World Cup stats with our data sources.">
		<meta itemprop="image" content="http://worldcup.import.io/square.png">

		<!-- FB -->
		<meta property="og:locale" content="en_US">
		<meta property="og:url" content="http://worldcup.import.io">
		<meta property="og:title" content="import.io at the World Cup">
		<meta property="og:site_name" content="World Cup by import.io">
		<meta property="og:description" content="Explore the World Cup through data with import.io. Powered by realtime APIs, we get you the latest World Cup stats with our data sources.">
		<meta property="og:image" content="http://worldcup.import.io/square.png">
		<meta property="og:image:type" content="image/png">
		<meta property="og:image:width" content="300">
		<meta property="og:image:height" content="300">
		<meta property="fb:app_id" content="512941028804389">
	</head>
	<body>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="well lead-well">
						<img src="ball.png" class="ball">
						<h4><a href="https://import.io"><img class="logo" src="importio.png" alt="import.io"></a> at</h4>
						<h1>World Cup 2014</h1>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="well advantage-well">
						<h2>The <a href="https://import.io" target="_blank" class="io">import.io</a> advantage:</h2>
						<p><img src="ball-icon.png" class="pull-left"> <strong>Real-time, all the time:</strong> your data updates when your source does, every time <span class="small">(<a href="https://import.io/pricing" target="_blank" class="io">more</a>)</span></p>
						<p><img src="ball-icon.png" class="pull-left"> <strong>Your data, your way:</strong> get data from a single page; by interacting with search boxes; or by crawling entire websites <span class="small">(<a href="https://import.io/features" target="_blank" class="io">more</a>)</span></p>
						<p><img src="ball-icon.png" class="pull-left"> <strong>Multiple sources:</strong> federate queries to up to 100 unique sources simultaneously <span class="small">(<a href="http://blog.import.io/post/query-up-to-100-sources-via-one-api-call-with-importio" target="_blank" class="io">more</a>)</span></p>
						<p><img src="ball-icon.png" class="pull-left"> <strong>Engineered for scale:</strong> one query or one million, our scalable infrastructure won't even break a sweat <span class="small">(<a href="https://import.io/enterprise" target="_blank" class="io">more</a>)</span></p>
						<p><img src="ball-icon.png" class="pull-left"> <strong>Here when you need us:</strong> issue or question? <a href="mailto:support@import.io" class="io">support@import.io</a> has you covered</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="well source-well">
						<h1 class="center">Head to Head</h1>
						<p class="description">Face off your favourite World Cup 2014 teams to see how they are faring in the competition</p>

						<div class="row" ng-controller="headtohead">
							<div ng-hide="teamsLoaded" class="col-md-12 center">
								<i class="fa fa-spin fa-circle-o-notch"></i>
								<p>Loading teams...</p>
							</div>
							<div ng-show="teamsLoaded" class="col-md-6" ng-repeat="which in ['first', 'second']">
								<div class="center">
									Select Team: <select ng-model="teams[which]" ng-options="key for (key, value) in availableTeams"></select>
								</div>
								<div ng-show="teamReady[which]">
									<div class="goals center">
										<span class="count">{{teamData[which].goals}}</span> goal{{teamData[which].goals == 1 ? '' : 's'}}
										<p class="small">(excluding own goals)</p>
									</div>
									<h2 ng-if="teamData[which].scorers.length">Scorers</h2>
									<table class="table table-hover scorers" ng-if="teamData[which].scorers.length">
										<thead>
											<tr>
												<th>Player</th>
												<th>Goals</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="scorer in teamData[which].scorers">
												<td>{{scorer.scorer}}</td>
												<td>{{scorer.goals}}</td>
											</tr>
										</tbody>
									</table>
									<h2>Squad</h2>
									<table class="table table-hover players">
										<thead ng-repeat-start="(position, players) in teamData[which].players">
											<tr>
												<th>{{position}}s ({{count(players)}})</th>
												<th>Number</th>
											</tr>
										</thead>
										<tbody ng-repeat-end>
											<tr ng-repeat="(number, name) in players">
												<td>{{name}}</td>
												<td>{{number}}</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div ng-hide="teamReady[which] || !teams[which]" class="center">
									<i class="fa fa-spin fa-circle-o-notch"></i>
									<p>Loading team data...</p>
								</div>
							</div>
						</div>

						<h1 class="center">How it works</h1>
						<div class="row">
							<div class="resource col-md-4">
								<h2>List of teams</h2>
								<ul class="list-unstyled features">
									<li><i class="fa fa-table"></i> Extractor</li>
									<li><i class="fa fa-clock-o"></i> Realtime</li>
									<li><i class="fa fa-code"></i> Javascript</li>
								</ul>
								<ul class="list-inline">
									<li><a href="https://import.io/data/set/?mode=loadSource&amp;source=ab0b0a83-c857-4314-912c-80ed9271b990" class="io" target="_blank">View data</a></li>
									<li><a href="https://import.io/data/integrate/?source=ab0b0a83-c857-4314-912c-80ed9271b990#js" class="io" target="_blank">Integrate source</a></li>
									<li><a href="https://import.io/data/mine/?id=ab0b0a83-c857-4314-912c-80ed9271b990" class="io" target="_blank">Source details</a></li>
								</ul>
							</div>
							<div class="resource col-md-4">
								<h2>Goals and Scorers</h2>
								<ul class="list-unstyled features">
									<li><i class="fa fa-table"></i> Extractor</li>
									<li><i class="fa fa-clock-o"></i> Realtime</li>
									<li><i class="fa fa-code"></i> Javascript</li>
									<li><i class="fa fa-code-fork"></i> Federation</li>
								</ul>
								<ul class="list-inline">
									<li><a href="https://import.io/data/set/?mode=loadSource&amp;source=3fc1d0f5-f147-4f70-83a1-c1807a753b5b" class="io" target="_blank">View data</a></li>
									<li><a href="https://import.io/data/integrate/?source=3fc1d0f5-f147-4f70-83a1-c1807a753b5b#js" class="io" target="_blank">Integrate source</a></li>
									<li><a href="https://import.io/data/mine/?id=3fc1d0f5-f147-4f70-83a1-c1807a753b5b" class="io" target="_blank">Source details</a></li>
								</ul>
							</div>
							<div class="resource col-md-4">
								<h2>Squad</h2>
								<ul class="list-unstyled features">
									<li><i class="fa fa-table"></i> Extractor</li>
									<li><i class="fa fa-clock-o"></i> Realtime</li>
									<li><i class="fa fa-code"></i> Javascript</li>
									<li><i class="fa fa-code-fork"></i> Federation</li>
								</ul>
								<ul class="list-inline">
									<li><a href="https://import.io/data/set/?mode=loadSource&amp;source=d16e8c80-ae43-496d-8375-4fd0ebf3e0dc" class="io" target="_blank">View data</a></li>
									<li><a href="https://import.io/data/integrate/?source=d16e8c80-ae43-496d-8375-4fd0ebf3e0dc#js" class="io" target="_blank">Integrate source</a></li>
									<li><a href="https://import.io/data/mine/?id=d16e8c80-ae43-496d-8375-4fd0ebf3e0dc" class="io" target="_blank">Source details</a></li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="resource col-md-4">
								<h2>Source</h2>
								<ul class="list-unstyled features">
									<li><i class="fa fa-code"></i> Javascript</li>
									<li><i class="fa fa-file-code-o"></i> AngularJS</li>
									<li><i class="fa fa-github-alt"></i> Open Source</li>
								</ul>
								<ul class="list-inline">
									<li><a href="https://github.com/import-io/worldcup2014/blob/gh-pages/headtohead.js" class="io" target="_blank">View source</a></li>
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="well source-well">
						<h1 class="center">Top Scorers</h1>

						<div class="row topscorers" ng-controller="topscorers">
							<div ng-hide="loaded" class="col-md-12 center">
								<i class="fa fa-spin fa-circle-o-notch"></i>
								<p>Loading top scorers...</p>
							</div>
							<div class="row" ng-if="loaded">
								<div class="col-md-4 col-md-offset-2">
									<h2>Most Prolific</h2>
									<img ng-src="{{playerRanking.prolific.picture}}" class="pull-left profile">
									<h3><img ng-src="{{playerRanking.prolific.flag}}" class="flag"> {{playerRanking.prolific.player}}</h3>
									<p>Most goals scored (<strong>{{playerRanking.prolific.goals}}</strong>) in competition</p>
								</div>
								<div class="col-md-4">
									<h2>Most Potent</h2>
									<img ng-src="{{playerRanking.potent.picture}}" class="pull-left profile">
									<h3><img ng-src="{{playerRanking.potent.flag}}" class="flag"> {{playerRanking.potent.player}}</h3>
									<p>Most goals(<strong>{{playerRanking.potent.goals}}</strong>), shots on target (<strong>{{playerRanking.potent.shots_on_target}}</strong>) and assists (<strong>{{playerRanking.potent.assists}}</strong>) in competition</p>
								</div>
							</div>
							<div class="row" ng-if="loaded">
								<div class="col-md-4 col-md-offset-2">
									<h2>Best value</h2>
									<img ng-src="{{playerRanking.bestValue.picture}}" class="pull-left profile">
									<h3><img ng-src="{{playerRanking.bestValue.flag}}" class="flag"> {{playerRanking.bestValue.player}}</h3>
									<p>Fewest minutes played per goal scored (<strong>{{playerRanking.bestValue.mins_per_goal}}</strong> mins per goal) in competition</p>
								</div>
								<div class="col-md-4">
									<h2>Worst value</h2>
									<img ng-src="{{playerRanking.worstValue.picture}}" class="pull-left profile">
									<h3><img ng-src="{{playerRanking.worstValue.flag}}" class="flag"> {{playerRanking.worstValue.player}}</h3>
									<p>Most minutes played per goal scored (<strong>{{playerRanking.worstValue.mins_per_goal}}</strong> mins per goal) in competition (of players that scored)</p>
								</div>
							</div>
							<div ng-show="loaded" class="col-md-8 col-md-offset-2">
								<h2 class="center">Top Scorer Table</h2>
								<table class="table table-hover scorers">
									<thead>
										<tr>
											<th>Player</th>
											<th>Nationality</th>
											<th>Goals</th>
											<th>Assists</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="player in scorers">
											<td><a href="{{player.picture}}" target="_blank"><img ng-src="{{player.picture}}" class="profile-sm"></a> {{player.player}}</td>
											<td><img ng-src="{{player.flag}}" class="flag"></td>
											<td>{{player.goals}}</td>
											<td>{{player.assists}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<h1 class="center">How it works</h1>
						<div class="row">
							<div class="resource col-md-4">
								<h2>World Cup Top Scorers</h2>
								<ul class="list-unstyled features">
									<li><i class="fa fa-table"></i> Extractor</li>
									<li><i class="fa fa-clock-o"></i> Realtime</li>
									<li><i class="fa fa-code"></i> Javascript</li>
								</ul>
								<ul class="list-inline">
									<li><a href="https://import.io/data/set/?mode=loadSource&amp;source=a5c35d9c-b2de-4159-a092-627f0861c0bb" class="io" target="_blank">View data</a></li>
									<li><a href="https://import.io/data/integrate/?source=a5c35d9c-b2de-4159-a092-627f0861c0bb#js" class="io" target="_blank">Integrate source</a></li>
									<li><a href="https://import.io/data/mine/?id=a5c35d9c-b2de-4159-a092-627f0861c0bb" class="io" target="_blank">Source details</a></li>
								</ul>
							</div>
							<div class="resource col-md-4">
								<h2>Source</h2>
								<ul class="list-unstyled features">
									<li><i class="fa fa-code"></i> Javascript</li>
									<li><i class="fa fa-file-code-o"></i> AngularJS</li>
									<li><i class="fa fa-github-alt"></i> Open Source</li>
								</ul>
								<ul class="list-inline">
									<li><a href="https://github.com/import-io/worldcup2014/blob/gh-pages/topscorers.js" class="io" target="_blank">View source</a></li>
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="well source-well">
						<h1 class="center">Results</h1>

						<div class="row results" ng-controller="results">
							<div ng-hide="loaded" class="col-md-12 center">
								<i class="fa fa-spin fa-circle-o-notch"></i>
								<p>Loading match results...</p>
							</div>
							<div class="row" ng-if="loaded">
								<div class="col-md-4 col-md-offset-2">
									<h4>Most Prolific</h4>
									<h2>{{countryRanking.prolific.name}}</h2>
									<p>Most goals scored per game (<strong>{{countryRanking.prolific.goals}}</strong> goal{{countryRanking.prolific.goals == 1 ? '' : 's'}} in <strong>{{countryRanking.prolific.plays}}</strong> game{{countryRanking.prolific.games == 1 ? '' : 's'}})</p>
								</div>
								<div class="col-md-4">
									<h4>Most Leaky</h4>
									<h2>{{countryRanking.leaky.name}}</h2>
									<p>Worst average goal diff (<strong>{{countryRanking.leaky.goals_conceded}}</strong> conceded and <strong>{{countryRanking.leaky.goals}}</strong> scored in <strong>{{countryRanking.leaky.plays}}</strong> game{{countryRanking.prolific.games == 1 ? '' : 's'}})</p>
								</div>
							</div>
							<div class="row" ng-if="loaded">
								<div class="col-md-12 center">
									<h4>Biggest thrashing</h4>
									<div class="row">
										<div class="col-md-3 col-md-offset-2 right">
											<h2>{{thrashing.home_team_text}}</h2>
										</div>
										<div class="col-md-2 center">
											<h2><strong>{{thrashing.home_goals}}</strong> - <strong>{{thrashing.away_goals}}</strong></h2>
										</div>
										<div class="col-md-3 left">
											<h2>{{thrashing.away_team_text}}</h2>
										</div>
									</div>
									<p>Played {{date(thrashing.date)}}, {{thrashing.match_context}}</p>
								</div>
							</div>
							<div ng-show="loaded" class="col-md-12">
								<h2 class="center">Country records</h2>
								<table class="table table-hover scorers">
									<thead>
										<tr>
											<th>Country</th>
											<th>Goals scored</th>
											<th>Goals conceded</th>
											<th>Goal diff</th>
											<th>Games played</th>
											<th>Wins</th>
											<th>Draws</th>
											<th>Losses</th>
											<th>Goals/game</th>
											<th>Goal diff/game</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="(team, stats) in countries">
											<td>{{team}}</td>
											<td>{{stats.goals}}</td>
											<td>{{stats.goals_conceded}}</td>
											<td>{{stats.goal_diff}}</td>
											<td>{{stats.plays}}</td>
											<td>{{stats.wins}}</td>
											<td>{{stats.draws}}</td>
											<td>{{stats.losses}}</td>
											<td>{{stats.goals_per_game}}</td>
											<td>{{stats.goal_diff_per_game}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div ng-show="loaded" class="col-md-8 col-md-offset-2">
								<h2 class="center">All games so far</h2>
								<table class="table table-hover scorers">
									<thead>
										<tr>
											<th colspan="3"></th>
											<th>Date</th>
											<th>Competition phase</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="result in results">
											<td class="center">{{result.home_team_text}}</td>
											<td class="center"><strong>{{result.home_goals}}</strong> - <strong>{{result.away_goals}}</strong></td>
											<td class="center">{{result.away_team_text}}</td>
											<td>{{date(result.date)}}</td>
											<td>{{result.match_context}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<h1 class="center">How it works</h1>
						<div class="row">
							<div class="resource col-md-4">
								<h2>World Cup Results</h2>
								<ul class="list-unstyled features">
									<li><i class="fa fa-table"></i> Extractor</li>
									<li><i class="fa fa-clock-o"></i> Realtime</li>
									<li><i class="fa fa-code"></i> Javascript</li>
								</ul>
								<ul class="list-inline">
									<li><a href="https://import.io/data/set/?mode=loadSource&amp;source=b2ebe9ab-a662-4b3e-be6e-f0d2dba33ba3" class="io" target="_blank">View data</a></li>
									<li><a href="https://import.io/data/integrate/?source=b2ebe9ab-a662-4b3e-be6e-f0d2dba33ba3#js" class="io" target="_blank">Integrate source</a></li>
									<li><a href="https://import.io/data/mine/?id=b2ebe9ab-a662-4b3e-be6e-f0d2dba33ba3" class="io" target="_blank">Source details</a></li>
								</ul>
							</div>
							<div class="resource col-md-4">
								<h2>Source</h2>
								<ul class="list-unstyled features">
									<li><i class="fa fa-code"></i> Javascript</li>
									<li><i class="fa fa-file-code-o"></i> AngularJS</li>
									<li><i class="fa fa-github-alt"></i> Open Source</li>
								</ul>
								<ul class="list-inline">
									<li><a href="https://github.com/import-io/worldcup2014/blob/gh-pages/results.js" class="io" target="_blank">View source</a></li>
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>


		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
		<script src="https://cdn.import.io/js/2.0.0/importio.js"></script>
		<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="moment.js"></script>
		<script src="app.js"></script>
		<script src="headtohead.js"></script>
		<script src="topscorers.js"></script>
		<script src="results.js"></script>

		<!-- GA code -->
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-35197492-1', 'import.io');
		ga('send', 'pageview');

		</script>
	</body>
</html>