body {
	font-family: 'Ek Mukta', sans-serif;
	font-weight: 200;
}

.io,
a.io:hover {
	color: #e92076;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.small {
	font-size: 12px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 200;
}

.logo {
	height: 38px;
}

.container {
	margin-top: 30px;
}

.well > h1:first-child {
	margin-top: 0;
}

.data-source-well {
	font-size: 20px;
}

.lead-well {
	background: url(grass.jpg) no-repeat center center;
	color: #333;
	height: 220px;
	overflow: hidden;
}

.lead-well h1 {
	font-size: 120px;
	margin-top: 0;
}

.lead-well h4 {
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 0;
}

.lead-well img.ball {
	float: left;
	margin: -20px 20px 0 -20px;
}

.competition {
	font-size: 18px;
}

/**
 * Football icon: http://www.visualpharm.com/
 */

.advantage-well h2 {
	margin-top: 0;
}

.advantage-well p {
	font-size: 20px;
}

.advantage-well p img {
	margin-right: 10px;
}

.source-well h1 {
	margin-top: 0;
	font-size: 48px;
}

.source-well .description {
	font-size: 18px;
}

.source-well .fa.fa-spin {
	font-size: 72px;
	margin: 20px 0;
}

.source-well .goals .count {
	font-size: 64px;
	font-weight: 600;
}

.source-well .goals {
	font-size: 28px;
}

.resource li {
	font-size: 18px;
}

.resource ul.features li i.fa {
	margin-right: 10px;
	width: 18px;
}

.topscorers img.flag,
.scorers img.flag {
	height: 18px;
}

.topscorers img.profile {
	width: 70px;
	border-radius: 45px;
	border: 1px solid #999;
	margin-right: 10px;
}

.topscorers img.profile-sm {
	width: 18px;
	border-radius: 9px;
	border: 1px solid #999;
	margin-right: 10px;
}


@media (min-width: 992px) and (max-width: 1199px) {
	.lead-well h1 {
		font-size: 90px;
	}
}

@media (max-width: 991px) {
	.lead-well h1 {
		font-size: 64px;
	}

	.results .col-md-3.right,
	.results .col-md-3.left {
		text-align: center;
	}
}

@media (max-width: 767px) {
	.lead-well {
		text-align: center;
	}
	.lead-well img.ball {
		display: none;
	}
}